# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# macOS related
*.DS_Store

# Windows related
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js related
node_modules/
npm-debug.log
yarn-error.log

# Python related
__pycache__/
*.pyo
*.pyd
*.pdb

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# firebase files
firebase.json
firebase-debug.log
firebase-debug.log.old
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
